{{#*inline "page"}}
        <h1>
            {{project.name}}</br>
            <small style="color: #777">{{project.description}}</small>
        </h1>

    <hr />
    <div class="row">
        <div class="col">
            <h3>Users</h3>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Displayname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Assigned</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users as |u|}}
                        {{#nequals u.id ../project.owner_id}}
                            <tr>
                                <th scope="row">{{u.displayname}}</th>
                                <td>
                                    {{u.email}}
                                    {{debug }}
                                </td>
                                <td>

                                    <input
                                        type="checkbox"
                                        {{#equals (lookup ../user_project_data (toString u.id)) "true"}}
                                            checked
                                        {{/equals}}
                                        data-toggle="toggle" />
                                </td>
                            </tr>
                        {{/nequals}}
                    {{/each ~}}
                </tbody>
            </table>
        </div>
        <div class="col">
            {{#equals user.id project.owner_id}}
                <h3>Settings</h3>
                <form class="" action="/projects/{{project.id}}/edit" method="post">
                    <div class="form-group">
                        <label for="projName">Project Name</label>
                        <input name="name" type="text" class="form-control" id="projName" value="{{project.name}}">
                    </div>

                    <div class="form-group">
                        <label for="projDesc">Project Description</label>
                        <textarea name="description" class="form-control" id="projDesc" rows="3">{{project.description}}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            {{/equals}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Issues</h3>

        </div>
    </div>
{{/inline}}
{{~> (parent)~}}
