{{#*inline "page"}}
    <h1>
        {{project.name}}</br>
    </h1>

    <ul class="nav nav-tabs mb-4 mt-5">
        <li class="nav-item">
            <a class="nav-link" href="../">Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/projects/{{project.id}}/posts">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects/{{project.id}}/issues">Issues</a>
        </li>
    </ul>

    <h2>
        New Post
        <a href="../" role="button" class="btn btn-primary md-auto">Back</a>
    </h2>

    <form class="" action="/projects/{{project.id}}/posts/new" method="post">
        <input type="hidden" name="csrf-token" value="{{{csrftoken}}}">
        <div class="form-group">
            <textarea name="content" class="form-control" id="projDesc" rows="6" placeholder="Your post"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Post</button>
    </form>

{{/inline}}
{{~> (parent)~}}
